<div class="bg-color">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card", style="width: 25rem;">
                    <% flash.each do |type, msg| %>
                        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
                    <% end %>
                    <h3 class="card-header text-center">Contact Form</h3>
                        <div class="card-body">
                            <%= form_for @contact do |f| %>
                                <div class="mb-3">
                                    <%= f.label :name, for:"exampleInputName1", class:"form-label" %>
                                    <%= f.text_field :name, type:"name", class:"form-control", id:"exampleInputName1" %>
                                </div>

                                <div class="mb-3">
                                    <%= f.label :email, for:"exampleInputEmail1", class:"form-label" %>
                                    <%= f.text_field :email, type:"email", class:"form-control", id:"exampleInputEmail1" %>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>

                                <div class="mb-3">
                                    <%= f.label :comments, for:"exampleInputComments", class:"form-label" %>
                                    <%= f.text_area :comments, class:"form-control",  class:"form-control", id:"exampleInputComments" %>
                                </div>

                                <%= f.submit 'Submit', class:"btn btn-primary" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>