<!DOCTYPE html>
<html>
  	<head>
        <link rel="apple-touch-icon" href="/custom_icon.png"/>
		<title>Saasapp</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%# Open-Sans font-api %>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
  	</head>

  	<body>
  		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light sticky-top mask-custom shadow-0" role="navigation">
            <div class="container">
                <%= link_to root_path, class: "navbar-brand" do %>
                    <i class="fa-brands fa-lastfm"></i>
                    <span style="color: #4285F4;">S</span><span style="color: #EA4335;">t</span><span style="color: #FFBB00;">r</span><span style="color: #00A1F1;">i</span><span style="color: #34A853;">d</span><span style="color: #F65314;">e</span>
                <% end %>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <%= link_to about_path, class: "nav-link" do %>
                                About
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <%= link_to new_contact_path, class: "nav-link" do %>
                                Contact
                            <% end %>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#!">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    	<%= yield %>

  	</body>
</html>